@media only screen and (min-width:50 em)
/*{for pc and Desktop}*/
{

}
body{
    background-color: rgb(104, 21, 93);
}
   #headerarea{
        background-color: black;
        text-align: center;
        font-size: 1rem;
    }
    #buttonarea{
        width: 24.5%;
    height: 100%;
    float: left;
    background-color:rgba(18, 214, 204, 0.76);
    text-align: center;

    }
    #viewarea{
        height:1300px;
        float: right;
        width: 74.7%;
        background-color:rgba(213,247,244,0.87);
        text-align: left;
        font-size: 30px;
    }
    .previewviewarea{
        /* margin: 12px; */
        font-size: 1500px;
        font-weight: bold;
        background-color: rgba(255, 192, 155, 0.904);
        display: inline;
        text-align: left;
        height: 100%;
        }  

    .button{
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 20px;
        font-weight: bold;
    }
    .btn{
        border: none;
        display: block;
        width: 90%;
        padding: 40px 20px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        transition-duration: 0.4s;
        cursor: pointer;
        margin: 18px 35px;
        background-color:white;
        border:2px solid #4CAF50;
        border: 20px;
    }
    .btn:hover{
        background-color:#4CAF50;
        color: white;
    }
    #buttons{
        text-align: center;
        text-size-adjust: solid bold;

    }
    #iResponse{
        font-size: 40px;
        background-color: lightgrey;
        width: 90%;
        height: 100%;
        border: 5px solid black;
        padding: 70px;
        margin: 50px;
    }
#InputNewBtn{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#InputNewBtn:hover{
    background-color:greenyellow;

}
#InputRemoveBtn{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#InputRemoveBtn:hover{
    background-color: greenyellow;
}
#InputPreviousBtn{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}

#InputPreviousBtn:hover{
    background-color: greenyellow;
}
#InputNextBtn{
background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#InputNextBtn:hover{
    background-color: greenyellow;
}
#s4{
    background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
}
#s4:hover{
    background-color: greenyellow;
}

#iQuestion{
    font-size: 40px;
}
#p1{
    text-align: left;
}
#myModal6{
    text-align: left;
    font-size: 25px;
    line-height:1.8;
}
#iQuestion{
    font-size: 40px;
}
.content , h3{
    display: inline-block;
    margin: 1.4% 0.5%;
}
.out{
    background-color: bisque;
}
